PORT=3000
DELIVERY_ENABLED=false
DRY_RUN=true
DB_PATH=./data/deliveries.sqlite
WIAPY_SECRET=
ADMIN_TOKEN=
META_TOKEN=
META_PHONE_NUMBER_ID=1342893942240358
META_WABA_ID=1908830573423460
META_GRAPH_VERSION=v25.0
META_APP_SECRET=
META_VERIFY_TOKEN=
TEMPLATE_CARNE=acesso_calculadora_carnes
TEMPLATE_COMBO=acesso_combo_calculadoras
